source https://api.nuget.org/v3/index.json
version 5.203.2
storage none
framework: netstandard20

nuget FSharp.Core ~> 4.6
nuget CommandLineParser.FSharp ~> 2.5
nuget Fake.Core.Target ~> 5.12
nuget Fake.Tools.Git ~> 5.12
// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    nuget Fake.DotNet.Cli
    nuget FSharp.Core ~> 4
    nuget MyFakeTools ~> 0.0.11
