source https://api.nuget.org/v3/index.json
version 5.227.0
storage: none
framework: netstandard20

nuget FSharp.Core ~> 4.7
nuget CommandLineParser.FSharp ~> 2.6
nuget Fake.Core.Target ~> 5.18
nuget Fake.Tools.Git ~> 5.18
// [ FAKE GROUP ]
group Build
    storage: none
    framework: netstandard20
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    nuget Fake.DotNet.Cli
    nuget FSharp.Core ~> 4.7
    nuget MyFakeTools ~> 0.0.15
