source https://api.nuget.org/v3/index.json
version 5.251.0
storage: none
framework: net5.0

nuget FSharp.Core ~> 5.0
nuget CommandLineParser.FSharp ~> 2.8
nuget Fake.Core.Target ~> 5.20
nuget Fake.Tools.Git ~> 5.20
// [ FAKE GROUP ]
group Build
    storage: none
    framework: netstandard20
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    nuget Fake.DotNet.Cli
    nuget FSharp.Core ~> 5.0
    nuget MyFakeTools ~> 0.0.17
